.activity-wrapper{
	width:785px !important;
	margin:0px auto;
}
.activity-inner{
	display:block;
	clear:both;
	background-color:#fff;
	padding:20px;
}
a.activity-link{
	color:#333333;
	text-decoration:none;
	font-size:14px;
}
a.activity-link:hover{
	color:#115740;
	text-decoration:none;
	font-size:14px;
}
.activity-acc-wrapper{
	display:table; 
	width:100%;
}
.activity-acc-wrapper-lft{
	display:table-cell; 
	width:30px;
}
.activity-acc-wrapper-mid{
	display:table-cell; 
	width:auto;
}
.activity-acc-wrapper-rht{
	display:table-cell; 
	width:100px;
	text-align:right;
}
@media(max-width:767px){
	.activity-wrapper{
		width:95% !important;
		margin:0px auto;
	}	
}
@media(min-width:768px) and (max-width:991px){
	.activity-wrapper{
		width:720px !important;
		margin:0px auto;
	}	
}