.paddingtop10{
	padding-top:10px;
}
.modal-box{
	width:1140px;
	height:650px;
	position:fixed;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	margin:auto;
	border:1px solid #d6d6d6;
	background-color:#fff;
	z-index:1031;
	display:none;
	z-index:9999;
}
.modal-box-inner{
	background-color: #fff;
    float: left;
    width: 100%;
}
.open-modal-box{
	cursor:pointer;
}
.modal-box-close{
	width:35px;
	height:35px;
	background-color:#000;
	position:absolute;
	top:-36px;
	right:0px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.modal-overlay{
	background-color:#000;
	opacity:0.5;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	position:fixed;
	z-index:1031;
	display:none;
}
ul.gallery-pop{
	margin:0px;
	padding:0px;
	list-style:none;
	margin:22px 0px;
	float:left;
}
ul.gallery-pop li{
	float:left;
	margin-right:20px;
	position:relative;
}
ul.gallery-pop li a{
	border:2px solid #fff;
	float:left;	
}
ul.gallery-pop li a:hover{
	border:2px solid #115740;
	float:left;
}
ul.gallery-pop li a:hover:before{
	content:'';
	width:0;
	height:0;
	position:absolute;
	top:-5px;
	right:23px;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #115740;	
	color:#333;
}
.borderrht{
	border-right:1px solid #ccc;
}
.chat-bg{
	background-color:#eee;
}
.modal-rht{
	width:100%;
	float:left;
	overflow:hidden;
	overflow-y:auto;
	height:400px;
	margin-bottom:10px;
}
.img100{
	width:100%;
}
/* Indicators list style */
.article-slide .carousel-indicators {
    width: 100%;
    height:auto;
}
/* Indicators list style */
/*.carousel-indicators .active:before {
    	background-image:url(../images/thumbnail-arrow.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
}*/
.article-slide .carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 58px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width:58px;
	background-image:url(../images/thumbnail-arrow.jpg);
	background-repeat:no-repeat;
	background-position:0px -10px;
	position:relative;
}
/* Indicators images style */
.article-slide .carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 58px;
    left: 0;
    width: 58px;
}
.zoom-in-img{
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:0px;
	color:#fff;
	z-index:999;
	cursor:pointer;
}
.carousel-inner > .item img:hover  + .zoom-in-img{
	border:1px solid #000;
	display:block !important;
}
.carousel-inner{
	height:460px;
}
.carousel-inner img{
	height:460px !important;
}
/* Indicators active image style */
.article-slide .carousel-indicators .active img {
    border: 2px solid #115740;
    opacity: 1;
	background-image:url(../images/thumbnail-arrow.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px;
	position:relative;
	width:58px;
	height:58px;
}
/*.article-slide .carousel-indicators .active img {
    border: 2px solid #115740;
 border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #f00;
}*/
.carousel-indicators .active:before {
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #115740;
	position:absolute;
	top:-7px;
	left:25px;
	width:0px;
	height:0px;
	content:'';
}
.article-slide .carousel-indicators img{
    border: 2px solid #fff;
    opacity: 1;

}
.article-slide .carousel-indicators img:hover{
    outline: 2px solid #115740;
    opacity: 1;
}
/*.article-slide .carousel-indicators img:hover:before{
	content:'';
	width:0;
	height:0;
	position:absolute;
	top:0px;
	right:23px;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-bottom:7px solid #115740;	
	color:#333;
}*/
.carousel-indicators {
    bottom: inherit;
    float: left;
    left: inherit;
    position: relative;
	margin:22px 0px;
}
/* Reposition the controls slightly */ 
.carousel-control { 
	left: 0px;
	background:#000;
	color:#fff;
	width:30px;
	height:30px;	
	top:39%;
} 
.carousel-control.right { 
	right: 0px; 
	background:#000;
	color:#fff;
	width:30px;
	height:30px;
	top:39%;
} 
@media(max-width:400px){
	.article-slide .carousel-indicators li{
		width:22% !important;
	}
	.article-slide .carousel-indicators li img{
		width:100%;
	}
}
@media (min-width:320px) and (max-width:767px){
	.modal-box{
		margin:0px auto;
		width:90%;
		height:auto;
		top:50px;
	}
}
@media (min-width:768px) and (max-width:991px){
	.modal-box{
		margin:0px auto;
		width:90%;
		height:auto;
		top:50px;
	}
}
@media (min-width:992px) and (max-width:1199px){
	.modal-box{
		margin:0px auto;
		width:90%;
		top:50px;
	}
}


@media (max-height: 667px) {
	.modal-box{
		margin:0px auto;
		width:80%;
		height:580px;
		top:40px;
		border:1px solid #000;
	}
	.carousel-inner{
		height:400px !important;
	}
	.carousel-inner img{
		height:400px !important;
	}
	.modal-rht {
		float: left;
		height: 325px;
		margin-bottom: 10px;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
	}
	.carousel-indicators {
		bottom: inherit;
		float: left;
		left: inherit;
		margin: 18px 0 0 0;
		position: relative;
	}
}
/* mind pop css start here */
.modal-dialog-mind-pop{
	width:750px;
	background-color:#f6f6f6;
}
.mind-pop-block{
	overflow:hidden; 
	overflow-y:auto; 
	height:500px; 
	width:100%;
	margin-bottom:15px;
}
.modal-content-mind{
	background:transparent;
}
.modal-body-mind{
	background-color:#FFF;
}
.mind-pop-txt{
	border:1px solid #d6d6d6;
	padding:10px;
	background-color:#ffffff;
	box-shadow:1px 1px 1px #d6d6d6;
	margin:15px 0px;
	color:#333;
}
.mind-pop-textarea{
	width:100%;
	padding:10px 2%;
	height:100px;
	border:1px solid #d6d6d6;
	resize:none;
}
.mind-save-btn{
	background-color:#125840;
	padding:5px 20px;
	border:1px solid #125840;
	color:#fff;
	float:right;
}
.delete-icon{
	position:absolute;
	top:10px;
	right:15px;
}
.mind-search{
	float:right;
	position:relative;
	margin-right:5%;
}
.mind-search input{
	border:1px solid #d6d6d6;
	padding:5px 10px;
	height:30px;
	font-size:12px;
	color:#999;
	width:320px;
}
.search-mind-icon{
	position:absolute;
	top:4px;
	right:15px;
}
.mind-header{
	height:60px;
}
@media (min-width:320px) and (max-width:767px){
	.modal-dialog-mind-pop{
		width:90%;
		background-color:#f6f6f6;
	}
	.mind-search input{
		border:1px solid #d6d6d6;
		padding:5px 10px;
		height:30px;
		font-size:12px;
		color:#999;
		width:130px;
	}
}
/* mind pop css end here */

.image-view-full{
	width:90%;
	height:90%;
	position:fixed;
	background-color:#000;
	z-index:1039;
	bottom:0px;
	top:0px;
	left:0px;
	right:0px;
	margin:auto;
	display:none;
	z-index:10001;
}
.image-view-full-inner{
	width:100%;
	height:100%;
	display:table;
}
.image-view-full-inner2{
	width:100%;
	height:100%;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
.image-view-full-img{
	width:auto;
	height:auto;
}
.image-view-full-close{
	width:35px;
	height:35px;
	position:absolute;
	top:0px;
	right:0px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.modal-overlay-full{
	background-color:#000;
	opacity:0.5;
	left:0px;
	right:0px;
	top:0px;
	bottom:0px;
	position:fixed;
	z-index:10000;
	display:none;
	
}